.calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: 50px repeat(5, 1fr);
            grid-gap: 10px;
        }
        .date {
            background-color: rgb(59, 255, 190);
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: 700;
            border-radius: 10px;
        }
        .other-month {
            background-color: rgb(168, 255, 226);
        }
        .day {
            background-color: rgb(255, 226, 59);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: 700;
            border-radius: 10px;
        }